<h3>Candidate details</h3>

{{log details}}

<h4>{{details.name}}</h4><small>({{details.party}})</small>
<ul class="candidate-details">
  <li>{{details.total_disbursements}}</li>
  <li>{{details.total_receipts}}</li>
  <li>{{details.total_refunds}}</li>
  <li>{{details.end_cash}}</li>
</ul>
Finance info here.