<div class="pure-menu pure-menu-open states">
  <a class="pure-menu-heading">Candidate details</a>

{{#if loaded}}
  <ul class="candidate-details">
    <li><h4>{{details.name}} <span class="candidate-party">({{details.party}})</span></h4></li>
    <li>Total receipts: {{totalReceipts}}</li>
    <li>Total disbursements: {{totalDisbursements}}</li>
    <li>Total refunds: {{totalRefunds}}</li>
    <li>End cash: {{endCash}}</li>
  </ul>
{{else}}
  <span class="loading-message">Loading...</span>
{{/if}}

</div>