<div class="pure-menu pure-menu-open states">
  <a class="pure-menu-heading">Candidate details</a>

  <ul class="candidate-details">
    <li><h4>{{details.name}} <span class="candidate-party">({{details.party}})</span></h4></li>
    <li>Total disbursements: {{details.total_disbursements}}</li>
    <li>Total receipts: {{details.total_receipts}}</li>
    <li>Total refunds: {{details.total_refunds}}</li>
    <li>End cash: {{details.end_cash}}</li>
  </ul>

</div>